#Visual Studio
obj
bin
*.user
*.suo
/packages/*
!packages/repositories.config
/Backup/*
UpgradeLog.htm

.vs/

/.idea/.idea.FridgeWeb2/.idea/.name
/.idea/.idea.FridgeWeb2/.idea/contentModel.xml
/.idea/.idea.FridgeWeb2/.idea/indexLayout.xml
/.idea/.idea.FridgeWeb2/.idea/modules.xml
/.idea/.idea.FridgeWeb2/.idea/vcs.xml
/.idea/.idea.FridgeWeb2/.idea/workspace.xml
/.idea/.idea.FridgeWeb2/riderModule.iml
