@import 'shared.less';

div.nav {
    width: 100%;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: @primary1;
    border: 1px solid @primary2;

    div.title {
        background-color: @primary2;
        color: @primary1;
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-family: @default-font;
        padding: 6px 2px 6px 2px;
    }

    div.inner-nav {
        display: flex;
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
        background-color: @primary1;
        font-family: @default-font;
        font-size: large;
        color: @primary3;
        font-weight: bold;
        padding: 6px 2px 6px 2px;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: @primary3;
            }

            a:visited {
                color: @primary3;
                font-weight: bold;
            }

            a:hover {
                color: @hover;
                cursor: pointer;
            }
        }
    }
}

