.action-button {
  font-family: 'Bookman Old Style';
  font-size: larger;
  background-color: cornflowerblue;
  color: white;
}
body {
  margin: 0;
}
div.nav {
  width: 100%;
  min-width: 420px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: darkorange;
  border: 1px solid black;
}
div.nav div.title {
  background-color: black;
  color: darkorange;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-family: 'Bookman Old Style';
  padding: 6px 2px 6px 2px;
}
div.nav div.inner-nav {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkorange;
  font-family: 'Bookman Old Style';
  font-size: large;
  color: white;
  font-weight: bold;
  padding: 6px 2px 6px 2px;
}
div.nav div.inner-nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.nav div.inner-nav div a {
  text-decoration: none;
  color: white;
}
div.nav div.inner-nav div a:visited {
  color: white;
  font-weight: bold;
}
div.nav div.inner-nav div a:hover {
  color: navy;
  cursor: pointer;
}
